<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119032565865-fgc1e6u26ck5jr739g27sb05f1vuqh4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119032565865-fgc1e6u26ck5jr739g27sb05f1vuqh4r</string>
	<key>API_KEY</key>
	<string>AIzaSyCukxoD2RKvnbDxo9G5dNQEQnxJZYsWd8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>119032565865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meditation4.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>meditation4-271cb</string>
	<key>STORAGE_BUCKET</key>
	<string>meditation4-271cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119032565865:ios:0235a162860ec3e6f5d2f8</string>
</dict>
</plist>